.try-SNFDC-cont{
    display: flex;
    width: 420px;
    height: auto;
    margin: 0 auto;
  }
  .try-SNFDC-container{
    position: relative;
    background-color: #fff;
    max-width: 120px;
  }
  .try-SNFDC-row-img{
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    width: 120px;
    height: 150px;
    background-color: rgb(223, 32, 32);
    
  
  }
  .try-SNFDC-row-img .try-SNFDC-img-heading{
    display: flex;
    margin-left: 5px;
  }
  .try-SNFDC-row-img .try-SNFDC-img-heading img{
    position: relative;
    width: 35px;
    height: 35px;
    top: -17px;
    left: 10px;
  }
  .try-SNFDC-row-img .try-SNFDC-img-heading .try-SNFDC-img-text{
    color: white;
    margin-top: 13px;
    margin-left: 12px;
  }
  .try-SNFDC-row-img .try-SNFDC-img-heading .try-SNFDC-img-text h4{
    font-size: 12px;
  }
  .try-SNFDC-row-img .try-SNFDC-img-heading .try-SNFDC-img-text span{
    font-size: 7px;
    position: relative;
    top: 0px;
    left: 0px;
    letter-spacing: 2px;
    color: aliceblue;
  }
  .try-SNFDC-row-img img{
    position: relative;
    top: -75px;
    left: 6px;
    margin: 30px 0;
    width: 105px;
    height: auto;
  }
  
  .try-SNFDC-offer-box{
    position: absolute;
    top: 135px;
    left: 7px;
    width: 104px;
    height: 26px;
    background-color: #f5b43b;
    border-radius: 5px;
  }
  .try-SNFDC-offer-box span{
    margin-left: 3px;
    padding-top: 4px;
    font-size: 19px;
    font-weight: 300;
    color: #fff;
  }
  .try-SNFDC-details{
    align-items: center;
    margin: 5px 10px;
    color: #3d4152;
  }
  .try-SNFDC-heading {
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .try-SNFDC-heading h2{
    font-size: 21px;
    width: 66%;
    margin-bottom: 7px;
    margin-top: -5px;
  }
  .try-SNFDC-heading i{
    position: relative;
    top: 0px;
    left: 5px;
    font-size: 25px;
    font-weight: 700;
    color: red;
  
  
  }
  .try-SNFDC-heading .try-SNFDC-best-safty{
    border: 1px solid gray;
    width: 104px;
    height: 21px;
    position: relative;
    top: -2px;
    left: -2px;
    z-index: -1;
    border-left: none;
  
  }
  .try-SNFDC-heading .try-SNFDC-best-safty p{
    font-size: 11px;
    font-weight: 800;
    z-index: -1;
    padding-left: 8px;
    margin-top: -4px;
    letter-spacing: -1px;
  }
  
  .try-SNFDC-details h4{
    font-size: 18px;
    font-weight: 500;
    color: #686b78;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 0;
    display: flex;
  }
  .try-SNFDC-details .try-SNFDC-reviews {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    margin-top: 17px;
    margin-bottom: 2px;
  }
  .try-SNFDC-details  hr{
    position: relative;
    top: 6px;
    left: 0px;
  } 
  .try-SNFDC-details  p{
    position: relative;
    top: 6px;
    left: 0px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
  }
  .try-SNFDC-details .try-SNFDC-speciality{
    position: relative;
    top: -23px;
    left: -11px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    color: #686b78;
  }
  
  .try-SNFDC-details .try-SNFDC-bg-color{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(252, 66, 66);
    position: relative;
    top: -69px;
    left: -121px;
    z-index: -1;
  }
  