.App {
  text-align: center;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: 0 auto;
}
body{
  font-family: 'ProximaNova',Arial,'Helvetica Neue',sans-serif;
  
}

/* navabr css */

.navbar{
  max-width: 500px;
  position: relative;
  /* margin: 0 auto; */
  display: flex;
  height: 80px;
  background: #fff;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0px 20px;
}
.address{
  display: flex;
  align-items: center;
  margin-left: 0px;
  max-width: 300px;
  height: 30px;
  cursor: pointer;
  margin-bottom: -1px;
  padding-right: 10px;
}
.headingMainAdd{
  display: flex;
  font-weight: 700;
  color: #3d4152;
  float: left;
}
.mainAdd{
  /* display: block; */
  margin-left: 10px;
  min-width: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.fullAdd{
  display: block;
  padding-left: 5px;
  margin-left: 5px;
  color: #686b78;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.offers{
  display: flex;
  float: right;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  top: 0px;
  right: -20px;
}
.offersLink{
  display: flex;
  align-items: center;
  padding-left: 28px;
  text-decoration: none;
}
.offersText{
  position: relative;
  color: #3d4152;
  top: 50%;
  right: 0;
  line-height: 0;
}

/* MainBody css */
.main-body-container{
  max-width: 500px;
  height: auto;
  padding: 0px 20px;
  /* border: 2px solid red; */
}

/* RestaurantCard css */
.Resto-container{
  position: relative;
  background-color:  #e46d47;
  border-radius: 5px;
  color: #fff;
  max-width: 500px;
}
.row-0{
  display: flex;
}
.col-deatils{
  width: 60%;
  margin: 25px 20px;
}
.col-deatils h2{
  font-size: 35px;
  font-weight: 600;
  position: relative;
  top: 0px;
  left: -31px;
}
.col-deatils p{
  font-size: 20px;
  font-weight: 300;
  margin-top: 5px;
}
.col-img{
  max-width: 40%;

}
.col-img img{
  margin-top: 5px;
  width: 150px;
  height: 150px;
}

.row-1{
  display: flex;
  position: absolute;
  top: 108px;
  left: 0px;
  
}
.row-1 button{
  width: 455px;
  height: 50px;
  background-color: #a75134;
  opacity: .4;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  
}
.row-1 button span{
  color: #fff;
  font-size: 15px;
  font-weight: 200;
  position: relative;
  left: -166px;
  opacity: 1 !important;
  z-index: 1;
}
.row-1 button span i{
  margin-left: 10px;
}




/* CarouselCont css */
.pickUpCarouselContainer{
  position: relative;
  margin: 0 auto;
  max-width: 500px;

}
.pickUpCarouselContainer h2{
  margin: 20px 0px;
  font-size: 28px;
  font-weight: 700px;
  color: rgb(74, 78, 78);
  margin-left: -175px;
}

/* PickUpCarousel Food-card */
.small-container{
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  max-width: 100px;
}
.row-img{
  position: relative;
  width: 100%;
}
.row-img img{
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.ad-container{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 20px;
  background-color: #000;
}
.ad-container span{
  position: relative;
  top: 2px;
  left: -2px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 200;
  color: #fff;

}
.offer-box{
  position: absolute;
  top: 85px;
  left: 5px;
  width: 90px;
  height: 26px;
  background-color: #e46d47;
  border-radius: 5px;
}
.offer-box span{
  margin-left: 8px;
  padding-top: 5px;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}
.row-details{
  width: 100%;
  margin: 12px 0px;
}
.row-details span{
  font-size: 18px;
  font-weight: 200;
  color: #3d4152;
}
.row-details p{
  margin-left: -50px;
  font-size: 12px;
  font-weight: 200;
  color: #837c7a;
}


/* SCarousel css */
.SCarouselContainer{
  position: relative;
  margin: 25px auto;
  max-width: 5000px;
}

/* SCarousel's Small card css is same as the PickUpCarousel's Food-card */


/* CCarousel css */
.CCarouselContainer{
  position: relative;
  margin: 25px auto;
  max-width: 500px;
}



/* CCarousel's ComboCard css */
.big-card-container{

  position: relative;
  margin: 0 auto;
  background-color: rgb(223, 115, 133);
  max-width: 400px;
  border-radius: 8px;
}
.row{
  display: flex;
}
.col{
  width: 50%;
}
.small-img{
  margin-left: -40px;
  width: 100%;
}
.small-img img{
  width: 80px;
  height: 50px;
}
.text{
  margin-left: 20px;
  color: #fff;
  position: relative;
  left: 0px;
  top: 0px;
}
.text h2{
  font-size: 12px;
  font-weight: 300;
  position: relative;
  top: 0px;
  left: -73px;
}
.text h1{
  font-size: 25px;
  font-weight: 700;
  position: relative;
  top: 0px;
  left: -45px;
}
.text h3{
  font-size: 15px;
  font-weight: 500;
}
.row .col-text {
  width: 100%;
}
.row .col-text h4{
  width: 100%;
  font-size: 10px;
  margin-top: 4px;
  color: rgb(230, 225, 225);
  position: relative;
  top: 0px;
  left: -37px;
}
.row .col-link{
  position: absolute;
  top: 55px;
  left: 52px;
  width: 100%;
}
.row .col-link a img{
  width: 80px;
  height: auto;
}

.text button{
  background-color: rgb(117, 58, 117);
  color: wheat;
  margin: 10px 0px;
  padding: 3px 7px;
  border: none;
  border-radius: 1px;
  position: relative;
  top: 0px;
  left: -39px;

}
.big-img {
  margin: 20px auto;
  width: 100%;
}
.big-img img{
  width: 200px;
  height: auto;
  padding-right: 10px;
}








/* footer css */
.footer{
  max-width: 500px;
  position: relative;
  margin: 0 auto;
  display: flex;
  height: 80px;
  background: #fff;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0px 20px;
}
.icon-list{
  display: flex;
  list-style: none;
  /* margin: 0 20px; */
  cursor: pointer;
  
}
.icon{
  margin: 0 20px;
  /* justify-content: space-between; */
}
.icon-link{
  text-decoration: none;
  position: relative;
  justify-content: center;
}
.icon-link img{
  max-width: 80px;
  height: auto;
  margin-left: -60px;
}
.icon-link i, span{
  display: block;
  color: #3d4152;
}
.icon-link span{
  margin-top: 5px;
}
